
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro&display=swap');


:root {
    --primary-color: #102E4A;
    --secondary-color: #2E86AB;
    --third-color: #F7D417;
    --accent-color1: #D2D5DD;
    --accent-color2: #F8FA90;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Source Sans Pro', serif;

    --nav-background-color: #2E86AB;
    --nav-link-color: #102E4A;
    --nav-hover-link-color: #102E4A;
    --nav-hover-background-color: #F8FA90;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}