
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro&display=swap');


:root {
    --primary-color: #091c2e;
    --secondary-color: #3da3cf;
    --third-color: #ddc74a;
    --accent-color1: #D2D5DD;
    --accent-color2: #f9faa7;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Source Sans Pro', serif;

    --nav-background-color: #102E4A;
    --nav-link-color: #2E86AB;
    --nav-hover-link-color: #102E4A;
    --nav-hover-background-color: #F8FA90;
}


 * {
    margin: 0;
    padding: 0;
    
    
}


body {
    
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav {
    background-color: var(--nav-background-color);
    border: 1px;
    border-color:#2E86AB;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    color: var(--nav-hover-background-color);
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.headerbox {
    display: grid;
    grid-template-columns: 1fr 8fr;
    background-color: #102E4A;
    padding: 1rem;
}

.headerbox img {
    float: left;
    display: block;
    width: 80%;
    height: auto;
}


.hero {
    margin: auto;
    position: relative;
    
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #D2D5DD;
    opacity: .6;

}

article {

    position: absolute;
    float: left;
    text-align: left;
	top: 40%;
	right: 33%;
    left: 33%;
    bottom: 24%;
    
	background: var(--accent-color2);
	padding: 0.65rem;
}

.articleimg img {
    /* position: relative; */
    float: right;
    display: block;
    width: 40%;
    height: auto;
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.historybox {
    display: block;
    position: relative;
    padding: 1rem;
    background-color: var(--secondary-color);
    
}

.historybox h2 {
    padding: 1rem;
}

.adventurebox {
    display: block;
    position: relative;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.adventurebox h2 {
    position: relative;
    padding: 1rem;
    justify-content: center;
}

.adventurebox div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    justify-content: space-between;
}

.adventurebox img {
    width: 80%;
    height: auto;
}

.contact {
    padding: 1rem;
    background: var(--accent-color2);
}

.companyinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem
}


iframe {
    height: 15rem;
}

.employeesbox {
    margin: 0;
    padding: 1rem;
    display: block;
    color: #102E4A;
    background-color: var(--secondary-color);
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    justify-content: space-between;
    padding: 1rem;

}

.employees img {
    width: 80% ;
    height: auto;
}

form {
    border: 2px solid var(--nav-background-color);
    background-color: var(--third-color);
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    background-color: #F8FA90;
    padding: 1rem;
}

legend {
    padding: 0.3rem;
    color: maroon;
    font-size: 1.5rem;

}

label, input, button, select, textarea {
    font-family: var(--source-sans-pro);
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.3rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background-color: var(--nav-background-color);
    color: var(--accent-color2);
    border: 2px solid black;
    border-radius: 4rem;
    padding: 1rem;
    font-size: 1.3rem;
}

button:hover {
    background-color: lightgreen;
    color: blue;
}

.tripsheader {
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--accent-color2);
    padding-bottom: 1.5rem;
    border: 2px solid var(--primary-color);
}

.tripsheader h2 {
    font-size: 1.5rem;
}


.trips {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.trips img {
    width:  16rem;
}

.stuff {
    padding: 1rem;
    background-color: var(--secondary-color);
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 49rem;
    
}

th{
    color: var(--accent-color2);
    font-size: 1.3rem;
}

td {
    display: flexbox;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color2);
    border: 2px solid var(--primary-color);
}



footer {
    display: block;
    position: relative;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #102E4A;
    padding: 1rem;
    
}

.footercolor {
    color: var(--secondary-color);
}

a:link, a:visited {
    color: var(--nav-link-color);
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    float: right
}