
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro&display=swap');

:root {
    --primary-color: PrussianBlue #102E4A;
    --secondary-color: BlueNCS #2E86AB;
    --third-color: SchoolBusYellow #F7D417;
    --accent-color1: FrenchGray #D2D5DD;
    --accent-color2: Mindaro #F8FA90;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Source Sans Pro', serif;

    --nav-background-color: 
    --nav-link-color:
    --nav-hover-link-color:
    --nav-hover-background-color:
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent-color1);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}